/* App.cs */
* { 
	font-family: 'Inter', sans-serif; 
} 

html { 
	background-color: #232323; 
} 

.container { 
	margin: 100px auto;
  padding: 20px 20px 50px 20px;
  max-width: 400px;
  background: #000;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
} 

h1 { 
	color: #0079FF; 
	text-align: center; 
	margin-bottom: 20px; 
} 

.input-container { 
	margin-bottom: 10px; 
} 

label { 
	display: block; 
	font-weight: bold; 
	margin-bottom: 5px; 
  color:#fff;
} 

input[type='number'] { 
	width: 94%; 
	padding: 10px; 
	font-size: 16px; 
  min-width: 220px;
} 

.calculate-btn { 
	display: block; 
	width: 100%; 
	padding: 10px; 
	background-color: #0079FF; 
	color: #fff; 
	font-size: 16px; 
	border: none; 
	border-radius: 4px; 
	cursor: pointer; 
  max-width: 130px;
  transition: .4s ease;
} 

.calculate-btn:hover {
  background-color: #0054b1;
}

.result { 
	margin-top: 20px; 
	padding: 10px; 
	background-color: #f0f0f0; 
	border-radius: 4px; 
} 

.bmi-value { 
	font-weight: bold; 
} 

.bmi-message { 
	color: #007bff; 
	font-weight: bold; 
}
